header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    height: 40vh;

    background-color:  lightcoral;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // padding: 80px;
    // padding: 10vh 5vw;

    padding: calc(4px + 2vh) calc(4px + 2vw);

}


p{
    margin-bottom: 3vh;
}