header{
    background-color: rgb(227, 238, 231);
    padding:  5vh 5vw;

    // border-top: 5px solid lightsteelblue;
    // border-top: 0.333vw solid lightgrey;

    border: calc(2px + 0.186vw) solid lightsteelblue;

}

a{
    text-decoration: none;
    color: #444;
    margin: 0 4vw;
}