
:root {
    // font-size: 10px;
    font-size: 62.5%;
}

header{
    background-color: lightsteelblue;
    height: 7.5rem;
}

section{
    background-color: lightskyblue;
    // height: 300px;
}

footer{
    background-color: lightcoral;
    height: 85px;
}

header,
section,
footer{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.5rem;
    color: white;
}


// section{
//     height: calc(100vh - 7.5rem - 8.5rem);
// }


*{
    padding: 0;
    margin: 0;
}

/* second solution */

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

section{
    flex-grow: 1;
}