.grid-container{
    background-color: #f3f;
    display: grid;

    grid-template-rows: 150px 150px 250px 50px;

    grid-template-columns: 150px 150px;
}


.item{
    background-color: #fcc005;
}

div#cool{
    background-image: linear-gradient( 135deg, #FEB692 10%, #EA5455 100%);

    // width: 600px;
    height: 300px;

    // max-width: 600px;
    min-width:600px; 
}