// flex items => children
body{
    display: flex;
    flex-wrap: wrap;
}

img{
    width: 300px;
}

div#box{
    margin: 100px;
    padding: 10px;
    background-color: maroon;
}

div.content{
    background-color: navy;
    padding: 1rem;
}

.bg-img{
    background-image: url('../img/bg-img.jpg');
}